<!DOCTYPE html>
<html>
  <!--Hero-->
  <section
    class="hero is-fullheight has-background-white-ter is-bold has-text-centered has-background fadeInElement"
  >
    <img
      class="hero-background is-transparent"
      src="../../assets/images/hero-background.jpg"
    />
    <div class="hero-head">
      <!--Navbar-->
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navBar"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navBar" class="navbar-menu fadeInElement">
          <div class="navbar-start">
            <a href="/" class="navbar-item">Home</a>
            <a href="/about" class="navbar-item">About me</a>
            <a href="/projects" class="navbar-item">Projects</a>
            <a href="https://github.com/nich227" class="navbar-item"
              ><i class="fab fa-github"></i
            ></a>
            <a href="https://linkedin.com/in/nich227" class="navbar-item"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="../../assets/docs/resume.pdf" class="navbar-item"
              ><i class="far fa-file"></i
            ></a>
            <a href="mailto:ningchen227@gmail.com" class="navbar-item"
              ><i class="far fa-envelope"></i
            ></a>
          </div>
        </div>
      </nav>
    </div>

    <!--Hero body-->
    <div class="hero-body">
      <div class="tile is-ancestor">
        <div class="tile is-horizontal">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child notification">
                <div class="card-image">
                  <img width="350vh" src="../../assets/images/me.jpg" />
                </div>
                <div class="card-content">
                  <h1 class="title">Kevin Chen</h1>
                  <hr />
                  Software Developer Intern
                  <br />
                  American Airlines
                </div>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child notification">
                <div class="card-content">
                  <h1 class="title">About me</h1>
                  <hr />
                  <p style="font-size: 16px; padding-bottom: 20px;">
                    I'm an experienced coder that is adept to learning both
                    inside and outside of the classroom. I am currently focused
                    on taking classes related to the Artificial Intelligence and
                    Machine Learning fields. Outside of class, I have
                    participated in numerous hackathons, and I am currently an
                    intern at American Airlines. Apart from coding, my other
                    hobbies are travelling, playing table tennis, hiking, and
                    cooking!
                  </p>
                  <div class="card" id="skills-card">
                    <div class="card-content">
                      <h1 class="title" style="font-size: 18px;">Skills</h1>
                      <div class="field is-grouped is-grouped-multiline">
                        <div class="control" *ngFor="let skill of SkillsList">
                          <div class="tags has-addons">
                            <p class="tag is-link">{{ skill.skill }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Hero footer-->
  <div class="hero-foot">
    <div class="content has-text-centered">
      <p>
        © 2020 Kevin Chen.&nbsp;&nbsp;|&nbsp;&nbsp;<a
          href="https://github.com/nich227/ning-k-chen"
          ><i class="fab fa-github-alt"></i
        ></a>
      </p>
    </div>
  </div>
</html>
