<!DOCTYPE html>
<html>
  <!--Hero-->
  <section
    class="hero is-fullheight has-background-white-ter is-bold has-text-centered has-background fadeInElement"
  >
    <img
      class="hero-background is-transparent"
      src="../../assets/images/hero-background.jpg"
    />
    <div class="hero-head">
      <!--Navbar-->
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navBar"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navBar" class="navbar-menu fadeInElement">
          <div class="navbar-start">
            <a routerLink="/" class="navbar-item">Home</a>
            <a routerLink="/about" class="navbar-item">About me</a>
            <!--<a class="navbar-item">Projects</a>-->
            <a routerLink="/contact" class="navbar-item">Contact me</a>
            <a href="https://github.com/nich227" class="navbar-item"
              ><i class="fab fa-github"></i
            ></a>
            <a href="https://linkedin.com/in/nich227" class="navbar-item"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="../../assets/docs/resume.pdf" class="navbar-item"
              ><i class="far fa-file"></i
            ></a>
            <a href="mailto:ningchen227@gmail.com" class="navbar-item"
              ><i class="far fa-envelope"></i
            ></a>
          </div>
        </div>
      </nav>
    </div>

    <!--Hero body-->
    <div class="hero-body">
      <div class="container">
        <img class="profile-pic" src="../../assets/images/me.jpg" />
        <br /><br />
        <h1 class="title">Kevin Chen</h1>
        <h2 class="subtitle">
          Senior studying Software Engineering at the University of Texas at
          Dallas
        </h2>
      </div>
    </div>
  </section>

  <!--Hero footer-->
  <div class="hero-foot">
    <div class="content has-text-centered">
      <p>
        © 2020 Kevin Chen.&nbsp;&nbsp;|&nbsp;&nbsp;<a
          href="https://github.com/nich227/ning-k-chen"
          ><i class="fab fa-github-alt"></i
        ></a>
      </p>
    </div>
  </div>
</html>
